@{
    ViewBag.Title = "Reset Password Confirmation";
}

<h2>Password Reset Successful</h2>
<p>Your password has been reset. Please <a href="@Url.Action("Login", "Customer")">click here to login</a>.</p>