@{
	ViewData["Title"] = "Profile";
	Layout = "~/Areas/Caterering/Views/Shared/_CatererLayout.cshtml";
}

@model Caterers.Models.Category

<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Add Category</h1>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<!-- left column -->
			<div class="col-md-6">
				<!-- general form elements -->
				<div class="card card-primary">
					
					<!-- /.card-header -->
					<!-- form start -->
					<form asp-action="Create">
						<div class="card-body">
							<div class="form-group">
								<label asp-for="Name">Name</label>
								<input asp-for="Name" class="form-control" />
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>

						</div>
						<!-- /.card-body -->

						<div class="card-footer">
							<button type="submit" class="btn btn-primary">Create</button>
						</div>
					</form>
				</div>



			</div>

		</div>
		<!-- /.row -->
	</div><!-- /.container-fluid -->
</section>
